img {
  object-fit: fill;
  padding: 0;
}

html {
  background-color: #f0f0f0;
}

.remove-padding {
  padding: 0;
}

.heading {
  background-color: #562b81;
  color: white;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.75rem;
}

.save-button {
  margin: 1.75rem 0;
  margin-left: auto;
  margin-right: 0;
  background-color: #562b81;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10%;
  border: 0;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.text-adjust {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 1px solid #bcbcbc;
}

.save-button:hover {
  background-color: rgb(128 52 205);
}

.save-button:focus {
  outline: none;
}

.text-padding-adjust:focus {
  outline: none;
  border: solid #562b81;
}
