/* stylelint-disable property-no-vendor-prefix */
img {
  object-fit: fill;
  padding: 0;
}

html {
  background-color: var(--background-color);
  font-family: sans-serif;
}

header {
  background-color: var(--header-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  font-weight: lighter;
  letter-spacing: 1.5px;
}

.remove-padding {
  padding: 0;
}

.text-adjust {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 1px solid #bcbcbc;
}

.text-adjust:focus {
  outline: none;
  border: solid #562b81;
}

.save-button {
  margin: 1.75rem 0;
  background-color: var(--button-color);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10%;
  border: 0;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.new-button {
  margin: 1.75rem 0;
  background-color: var(--button-color);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10%;
  border: 0;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.align-right {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.save-button:hover {
  background-color: var(--button-color);
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.journal-feed {
  list-style: none;
  padding: 0;
  line-height: 1.5rem;
}

.nav-bar {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.no-entries-text {
  justify-content: center;
  text-align: center;
  font-weight: 50;
}

a {
  color: white;
  font-size: 1rem;
  margin-top: 1.5rem;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.edit-button {
  display: inline-block;
  transform: rotate(90deg);
  color: var(--button-color);
}

.edit-button:hover {
  cursor: pointer;
}

.delete-entry {
  color: #df5454;
  font-weight: 600;
}

.delete-entry:hover {
  cursor: pointer;
}

.center {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.pop-up-question {
  font-size: 0.9rem;
}

.pop-up {
  background-color: white;
  height: 10rem;
  width: 20rem;
  padding: 2rem 0;
  position: absolute;
  top: 10rem;
  left: 40%;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 0 2000px rgb(0 0 0 / 50%);
}

.pop-up-buttons {
  background-color: red;
  margin: 2.5rem 1rem;
  margin-bottom: 0;
  border-radius: 8%;
  color: white;
  font-size: 1rem;
  border: 0;
  padding: 0.75rem 1.5rem;
}

.cancel-button {
  background-color: #b6b6b6;
  color: black;
}

.pop-up-buttons:hover {
  cursor: pointer;
}

.search-bar {
  height: 2rem;
  width: 20rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(189 189 189);
  font-size: 1rem;
  font-family: sans-serif;
}

.search-button {
  margin: 1.75rem 0.5rem;
  background-color: var(--button-color);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10%;
  border: 0;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.search-bar:focus {
  outline: none;
  border: 1px solid rgb(150 66 233);
  box-shadow: 0 0 1px 1px rgb(150 66 233 / 60%);
}

.drop-down-menu {
  background-color: var(--button-color);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10%;
  border: 0;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

:root {
  --button-color: #562b81;
  --background-color: #f0f0f0;
  --header-color: #562b81;
  --fire-color: red;
  --original-button-color: #562b81;
  --original-background-color: #f0f0f0;
}
